.WeatherDescription{
    background-color: #f3a736da;
    border-radius: 18px;
    margin: 20px 30px 55px;
    
}



.WeatherDescription h5{
    font-size: 14px;
}

.temp-forecast{
    font-size: 12px;
    padding: 10px;
    margin-left: 10px;
}


.detail-card{
    border-left: 2px solid #ee6666;
    border-right: 2px solid #ff2997;
}


.card-img {
    height: 65px;
    width: 65px;
}

@media screen and (max-width: 768px) {
    .WeatherDescription{
        margin-left: -45px;
        margin: -15px 15px 55px;
        padding: 0px;
    }

    .card-img {
        height: auto;
        width: 60px;
    }
    

    
  }